@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Jost", sans-serif;
}

@theme {
  --color-textClr1: #051036;
  --color-textClr2: #697488;
  --color-textClr3: #3554d1;
  /* ==================================== */
}

/* swiper slider ================== */
.mySwiper .swiper-pagination-progressbar {
  bottom: -30px; /* content থেকে gap */
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #e5e7eb; /* gray-200 */
  position: absolute;
}

.mySwiper .swiper-pagination-progressbar-fill {
  background-color: #3b82f6; /* blue-500 */
}

/* swiper slider ================== */
