@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Jost", sans-serif;
}

@theme {
  --color-textClr1: #051036;
  --color-textClr2: #697488;
  --color-textClr3: #3554D1;
  /* ==================================== */
}
